meta(charset='utf-8')
meta(name='fragment', content='!')
base(href='/')
meta(name='google-site-verification', content='obyqpIxmww6oAvfPL4L63ySYyVeg9FrYVKnKQN3SqCU')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
title #{renderMeta.title}

// Schema.org markup for Google+
meta(name='description', content='#{renderMeta.description}')
meta(name='keywords', content='Music, techno, tech house, raves, dj, mixing, counter-culture, film, audio, interviews, artists, festivals, magazine, kinetik')
meta(itemprop='description', content='#{renderMeta.description}')
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='theme-color', content='#01579b')
meta(name='msapplication-navbutton-color', content='#01579b')
// Twitter Card data
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:title', content='#{renderMeta.title}')
meta(name='twitter:description', content='#{renderMeta.description}')
meta(name='twitter:image:src', content='#{renderMeta.image}')
meta(name='twitter:image', content='#{renderMeta.image}')
// Open Graph data
meta(property='og:title', content='#{renderMeta.title}')
meta(property='og:type', content='website')
meta(property='og:url', content='#{renderMeta.shareUrl}/')
meta(property='og:image:url', content='#{renderMeta.image}')
meta(property='og:image:width', content='600')
meta(property='og:image:height', content='315')
meta(property='og:description', content='#{renderMeta.description}')
meta(property='og:image:secure_url', content='#{renderMeta.image}')
